<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
  function submitComment(e) {
    function showAlert(message) {
      $("#comment-form .js-notice").removeClass("hidden");
      $("#comment-form .js-notice-text").html(message);
    }

    $("#comment-form-submit").addClass("btn--disabled");
    $("#comment-form-submit").html(
      '<svg class="icon spin"><use xlink:href="/assets/icons/icons.svg#icon-loading"></use></svg> Loading...'
    );

    $.ajax({
      type: event.target.method,
      url: event.target.action,
      data: $(event.target).serialize(),
      contentType: "application/x-www-form-urlencoded",
      success: function(data) {
        $("#comment-form-submit")
          .html("Submitted")
          .addClass("btn--disabled");
        $("#comment-form .js-notice")
          .removeClass("danger")
          .addClass("success");
        showAlert(
          '<strong>Thanks for your comment!</strong> It is <a href="https://github.com/tamathecat/tamathecat.github.io/pulls">currently pending</a> and will show on the site once approved.'
        );
      },
      error: function(err) {
        console.log(err);
        $("#comment-form-submit").html("Submit Comment");
        $("#comment-form .js-notice")
          .removeClass("success")
          .addClass("danger");
        showAlert(
          "<strong>Sorry, there was an error with your submission.</strong> Please make sure all required fields have been completed and try again."
        );
        $(form).removeClass("disabled");
      }
    });

    return false;
  }
</script>

<!-- Start comment form -->
<div id="respond" class="comment__form">
  <div style="display: inline-block; width: 100%;">
    <form onSubmit="event.preventDefault(); submitComment(event);" id="comment-form" class="js-form" method="post" action="https://ark-static-man.herokuapp.com/v3/entry/github/{{ site.repository }}/{{ site.staticman.branch }}/comments">
      <div class="title" style="font-size:25px; text-align:center;">✨ <b>Leave a comment</b>  ✨</div>
      <div class="title" style="font-size:25px; text-align:center; padding-bottom: 10px;"><b>It keeps me motivated!</b></div>
      <div class="form__group">
        <label for="comment-form-name">Name
          <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
        </label>
      </div>
      <div class="form__group">
        <br/>
        <label for="comment-form-message">Comment
          <textarea rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
        </label>
      </div>
      <input type="hidden" name="options[origin]" value="{{ page.url | relative_url }}">
      <input type="hidden" name="options[parent]" value="{{ page.url | relative_url }}">
      <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
      <div class="hidden js-notice notice">
        <p class="js-notice-text"></p>
      </div>
      <button type="submit" id="comment-form-submit">Send comment</button>
    </form>
  </div>
</div>
