<div id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}" class="js-comment comment {% unless include.replying_to == 0 %}child{% endunless %}">
  <div class="comment__main">
    <div class="comment__meta">
      <strong class="h-card">{{ include.name }}</strong>
      {% if include.date %}
        on
        {% if include.index %}<a href="#comment{% if r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endif %}" title="Permalink to this comment">{% endif %}
          <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date_to_long_string: 'ordinal', 'US' }}</time>
        {% if include.index %}</a>{% endif %}
      {% endif %}
    </div>
    <div class="comment__message">
      {{ include.message }}
    </div>
  </div>
</div>
