<!-- Start comment form -->
<div id="respond" class="comment__form">
  <h2 class="title">✨ Leave a comment  ✨<small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | relative_url }}#respond" style="display:none;">Cancel reply</a></small></h2>
  <form id="comment-form" class="js-form" method="post" action="https://ark-static-man.herokuapp.com/v3/entry/github/{{ site.repository }}/{{ site.staticman.branch }}/comments">
    <div class="form__group">
      <label for="comment-form-name">Name
        <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
      </label>
    </div>
    <div class="form__group">
      <br/>
      <label for="comment-form-message">Comment
        <textarea rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
      </label>
    </div>
    <input type="hidden" name="options[origin]" value="{{ page.url | relative_url }}">
    <input type="hidden" name="options[parent]" value="{{ page.url | relative_url }}">
    <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
    <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
    <button type="submit" id="comment-form-submit">Send comment</button>
  </form>
</div>
